body {
	background-color: $pink;
	.main-content {
		max-width: 90%;
	}
}

.amzion-container {
	max-width: 90%;
	margin: auto;
}

.amzion-nav {
	ul {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
	}	
}

.section-wrapper {
	background-color: $white;
	margin: 35px 0 0;
	padding: 40px 45px;
	.section-header {
		display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    h2 {
    	margin: 0;
    	&.text-grey {
    		color: $grey;
    	}
    	&.text-white {
				color: $white;
    	}
    }
	}
}

.amzion-button {
  background-color: $yellow;
  padding: 10px 25px;
  color: $white !important;
  text-transform: uppercase;
  text-decoration: none !important;
  @extend .transition;
  &:hover {
  	background-color: $darkYellow;
  }
}