.carousel {
	margin-top: 10px;
	.carousel-item {
		height: 450px;
		img {
			width: 100%;
			height: 450px;
			object-fit: cover;
		}
	}
	.carousel-caption {
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		bottom: initial;
		right: initial;
		background-color: $yellowOpacity;
		padding: 50px;
		h3 {
	    text-transform: uppercase;
	    font-size: 38px;
		}
		p {
			margin: 0;
		}
	}
}