.site-footer {
	background-color: $yellow;
	border-bottom: 10px solid $red;
	margin-top: 40px;
	.amzion-container {
		max-width: 80%;
		margin: auto;
	}
	.right-content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
	}
	.nav-link {
		color: $white;
	}
	p {
		color: $white;
		&.copyright {
			margin: 0;
    	font-size: 12px;
		}
	}
}