.site-header {
	nav {
		background-color: $white;
		border-bottom: 5px solid $yellow;
	}
	.navbar-nav {
		justify-content: center;
		align-items: center;
		width: 100%;
		.nav-link {
			text-transform: uppercase;
			color: $red;
		}
		.nav-item {
			margin: 0 10px;
		}
	}
}