.news-updates-wrapper {
	.thumbnail-wrapper {
		img {
			width: 100%;
			height: auto;
		}
	}
	.content {
		text-align: center;
		background-color: $lightGrey;
		padding: 25px;
		display: flex;
		flex-direction: column;
		min-height: 290px;
		.title {
			color: $red;
		}
		a {
			margin-top: auto;
		}
		p {
			font-size: 14px;
			line-height: 20px;
		}
	}
}