
// Colors
$pink:        #FFF8E6;
$white:       #FFF;
$red:         #8B090B;
$yellow:      #E9A51E;
$yellowOpacity: #E9A51ED1;
$darkYellow:  #DC9405;
$grey:        #474747;
$lightGrey:   #F0ECEA;

.transition {
	-webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}