/*
Theme Name: Amzion
Author: Kish
Version: 1.0
*/
.transition, .amzion-button {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

body {
  background-color: #FFF8E6; }
  body .main-content {
    max-width: 90%; }

.amzion-container {
  max-width: 90%;
  margin: auto; }

.amzion-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }

.section-wrapper {
  background-color: #FFF;
  margin: 35px 0 0;
  padding: 40px 45px; }
  .section-wrapper .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; }
    .section-wrapper .section-header h2 {
      margin: 0; }
      .section-wrapper .section-header h2.text-grey {
        color: #474747; }
      .section-wrapper .section-header h2.text-white {
        color: #FFF; }

.amzion-button {
  background-color: #E9A51E;
  padding: 10px 25px;
  color: #FFF !important;
  text-transform: uppercase;
  text-decoration: none !important; }
  .amzion-button:hover {
    background-color: #DC9405; }

.site-header nav {
  background-color: #FFF;
  border-bottom: 5px solid #E9A51E; }
.site-header .navbar-nav {
  justify-content: center;
  align-items: center;
  width: 100%; }
  .site-header .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #8B090B; }
  .site-header .navbar-nav .nav-item {
    margin: 0 10px; }

.site-footer {
  background-color: #E9A51E;
  border-bottom: 10px solid #8B090B;
  margin-top: 40px; }
  .site-footer .amzion-container {
    max-width: 80%;
    margin: auto; }
  .site-footer .right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; }
  .site-footer .nav-link {
    color: #FFF; }
  .site-footer p {
    color: #FFF; }
    .site-footer p.copyright {
      margin: 0;
      font-size: 12px; }

.news-updates-wrapper .thumbnail-wrapper img {
  width: 100%;
  height: auto; }
.news-updates-wrapper .content {
  text-align: center;
  background-color: #F0ECEA;
  padding: 25px;
  display: flex;
  flex-direction: column;
  min-height: 290px; }
  .news-updates-wrapper .content .title {
    color: #8B090B; }
  .news-updates-wrapper .content a {
    margin-top: auto; }
  .news-updates-wrapper .content p {
    font-size: 14px;
    line-height: 20px; }

.carousel {
  margin-top: 10px; }
  .carousel .carousel-item {
    height: 450px; }
    .carousel .carousel-item img {
      width: 100%;
      height: 450px;
      object-fit: cover; }
  .carousel .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    bottom: initial;
    right: initial;
    background-color: #E9A51ED1;
    padding: 50px; }
    .carousel .carousel-caption h3 {
      text-transform: uppercase;
      font-size: 38px; }
    .carousel .carousel-caption p {
      margin: 0; }

/*# sourceMappingURL=style.css.map */
